* {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1.4285em;
}

.appNavbar {
  position: sticky;
  top: 0;
}

.remove-btn {
  margin-right: 0.5rem;
  padding-left: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.list-budget {
  background-color: black;
  -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  margin: 1rem 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1em 1em;
  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: #373F47;
  color: white;
  min-width: fit-content;
}
.containerBar {
  display: flex;
}
.mainPart {
  flex: 4;
}

.sidebarWrapper {
  padding: 15px;
}

.sidebarTitle {
  font-size: 18px;
}

.sidebarList {
  list-style: none;
  padding-left: 10px;
}

.sidebarListItem {
  cursor: pointer;
}

.sidebarListItem:active,
.sidebarListItem:hover {
  background-color: grey;
  border-radius: 10px;
}

.budgetList {
  -webkit-box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.17);
}

.monitor {
  flex: 4;
}

.navCollapse {
  float: right;
  padding-right: 40px;
}

.navbar-splash {
  padding: 0rem;
  float:left;
}

.deleteButton {
  cursor: pointer;
}

.navbarToggler {
  float: right;
}

.navbarPageDropdown {
  position: relative;
  float:left;
  left: 40px
}

.currencyInput {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.currencyText {
  text-align: right;
}

.addModal {
  max-width: 600px !important;
  margin-top: 1rem;
}

.addButton {
  padding: 1rem;
  position: relative;

  float: inline-end;
}

.viewModal {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  margin: 1rem 0;
  margin-top: 4rem;
  margin-bottom: 1rem;
  padding: 1em 1em;
  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.home {
  position: relative;
  margin: 1.5rem;
}

.ui {
  position: relative;
  border: 1px solid #d4d4d5;
}

.header {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
  padding: 0.5rem;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.28571429em;
  text-transform: none;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.71428571rem;
  position: relative;
}

.sub {
  display: block;
  font-size: 1.14285714rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.2em;
  color: rgba(0, 0, 0, 0.6);
}

.icon {
  padding-right: 0.5rem;
  display: table-cell;
  font-size: 2rem;
}

.content {
  position: relative;
}

.containerMain {
  padding-top: 3rem;
}
